@media(width>1440px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    .desktop-link {
        display: inline;
    }

    .mobile {
        display: none;
    }

    div {
       
        width: 384px;
        height: 522px;
    }

    header {
        width: 336px;
        height: 200px;
    }

    main img {
        width: 82px;
        height: 29px;
    }

    h2 {
        width: 143px;
        height: 21px;
    }

    h1 {
        width: 336px;
        height: 36px;
        font-size: 24px;
    }

    h3 {
        width: 336px;
        height: 72px;
        font-size: 16px;
    }

    footer {
        margin-top: 45px;
    }
}
